In [1]:
import pandas as pd

In [182]:
rawData = pd.read_csv('C:\\Users\\rritesh\\Master\\Projects\\Case Studies\\MASTER\\AirBNB\\train.csv')
print(rawData.shape)
rawData.head(1)

(74111, 29)

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0

In [181]:
# print(rawData.nunique())
for c in rawData.columns:
#     print(rawData[c].nunique())
    print(rawData[c].isnull().sum())

# print('\n\n')
# print(rawData.iloc[0,:])

0
0
0
0
0
0
200
0
0
0
0
0
15864
188
188
18299
188
0
15827
0
0
0
6872
0
16722
8216
966
91
131

# Drop Columns

In [152]:
columnsToBeDropped = ['id', 'description', 'first_review', 'host_has_profile_pic', 'host_response_rate', 'last_review', 'name', 'thumbnail_url', 'zipcode']
rawData.drop(columnsToBeDropped, axis=1, inplace=True)
rawData.shape

(74111, 20)

# Data Imputation (Missing Values)

In [154]:
rawData.isnull().sum()

log_price                     0
property_type                 0
room_type                     0
amenities                     0
accommodates                  0
bathrooms                   200
bed_type                      0
cancellation_policy           0
cleaning_fee                  0
city                          0
host_identity_verified      188
host_since                  188
instant_bookable              0
latitude                      0
longitude                     0
neighbourhood              6872
number_of_reviews             0
review_scores_rating      16722
bedrooms                     91
beds                        131
dtype: int64

### Imputing Bedrooms, Bathrooms, and Beds

In [155]:
# LOGIC - Number of bedrooms = bathrooms and vice versa.
bathroomC = 0
bedroomC = 0
bedsC = 0
for index, row in rawData.iterrows():
    if (pd.isna(row['bathrooms']) == True) and (pd.isna(row['bedrooms']) == False):
        rawData.at[index, 'bathrooms'] = rawData.at[index, 'bedrooms']
        bathroomC = bathroomC + 1
    if (pd.isna(row['bedrooms']) == True) and (pd.isna(row['bathrooms']) == False):
        rawData.at[index, 'bedrooms'] = rawData.at[index, 'bathrooms']
        bedroomC = bedroomC + 1
for index, row in rawData.iterrows():
    if (pd.isna(row['beds']) == True) and (pd.isna(row['bedrooms']) == False):
        rawData.at[index, 'beds'] = rawData.at[index, 'bedrooms'] * 2
        bedsC = bedsC + 1

print('{} counts of Bathroom, {} counts of Bedrooms, {} of Beds attr. are imputed' .format(bathroomC, bedroomC, bedsC))

195 counts of Bathroom, 86 counts of Bedrooms, 128 of Beds attr. are imputed

   ### Imputing Neighbourhoods

In [158]:
# from geopy.geocoders import Nominatim
# geolocator = Nominatim(user_agent="temp")

# for index, row in rawData.iterrows():
# #     if pd.isna(row['neighbourhood']) == True and index <= 100:
#     if pd.isna(row['neighbourhood']) == True:
#         latlongtext = str(row['latitude']) + ',' + str(row['longitude'])
#         location = geolocator.reverse(latlongtext)
#         locDict = location.raw['address']
        
#         if 'neighbourhood' in locDict.keys():
#             rawData.at[index, 'neighbourhood'] = locDict['neighbourhood']
# #         elif 'suburb' in locDict.keys():
# #             rawData.at[index, 'neighbourhood'] = locDict['suburb']
# #         elif 'hamlet' in locDict.keys():
# #             rawData.at[index, 'neighbourhood'] = locDict['hamlet']
#         else:
#             continue

# #       print('{} = {} ||| {}' .format(index, locDict, row['city']))

35

# Data type conversion

In [153]:
# BEFORE
rawData.dtypes

log_price                 float64
property_type              object
room_type                  object
amenities                  object
accommodates                int64
bathrooms                 float64
bed_type                   object
cancellation_policy        object
cleaning_fee                 bool
city                       object
host_identity_verified     object
host_since                 object
instant_bookable           object
latitude                  float64
longitude                 float64
neighbourhood              object
number_of_reviews           int64
review_scores_rating      float64
bedrooms                  float64
beds                      float64
dtype: object

In [130]:
categoryColumns = ["property_type","room_type","amenities","bed_type","cancellation_policy","cleaning_fee", "city", \
                   "host_identity_verified", "host_since", "instant_bookable", "neighbourhood"]
# [1:3, 6:12, 15]
rawData[categoryColumns] = rawData[categoryColumns].apply(lambda x: x.astype('category'))
rawData.dtypes

log_price                  float64
property_type             category
room_type                 category
amenities                 category
accommodates                 int64
bathrooms                  float64
bed_type                  category
cancellation_policy       category
cleaning_fee              category
city                      category
host_identity_verified    category
host_since                category
instant_bookable          category
latitude                   float64
longitude                  float64
neighbourhood             category
number_of_reviews            int64
review_scores_rating       float64
bedrooms                   float64
beds                       float64
dtype: object

In [146]:
rawData.isnull().sum()

log_price                     0
property_type                 0
room_type                     0
amenities                     0
accommodates                  0
bathrooms                     5
bed_type                      0
cancellation_policy           0
cleaning_fee                  0
city                          0
host_identity_verified      188
host_since                  188
instant_bookable              0
latitude                      0
longitude                     0
neighbourhood              6872
number_of_reviews             0
review_scores_rating      16722
bedrooms                      5
beds                          3
dtype: int64

log_price                   767
property_type                35
room_type                     3
amenities                 67122
accommodates                 16
bathrooms                    17
bed_type                      5
cancellation_policy           5
cleaning_fee                  2
city                          6
host_identity_verified        2
host_since                 3087
instant_bookable              2
latitude                  74111
longitude                 74111
neighbourhood               651
number_of_reviews           371
review_scores_rating         54
bedrooms                     12
beds                         18
dtype: int64